Flask==2.0.1
requests==2.25.1
python-dateutil==2.8.1
xmltodict==0.12.0
PyYAML==5.3.1  # Updated version to avoid installation issues
pytest==6.2.4
pytest-cov==4.1.0  # for coverage reporting
requests-mock==1.9.3
werkzeug==2.0.1  # Compatible version with Flask 2.0.1
